html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    background-color: rgb(41, 43, 53);
    font-family: 'Lucida Sans', Arial, sans-serif
}

section {
    color: rgb(216, 216, 216);
}

section h3 {
    font-size: 30px;
    margin: 0;
    text-decoration: none;
}

section a {
    text-decoration: none;
    color: rgb(216, 216, 216);
}

h1 {
    font-size: 70px;
    margin: 0;
}

p {
    font-size: 18px;
}

nav {
    background-color: rgb(55, 72, 95);
}

footer {
    background-color: rgb(55, 72, 95);
    display: flex;
    justify-content: center;
    padding: 30px;
}

footer a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(216, 216, 216);
    font-size: 12px;
}



nav .tech-container img {
    padding: 2px;
    height: 30px;
}


nav .nav-container {
    display: flex;
    justify-content: space-between;
}

nav h3 {
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    margin: 0 30px 0 0;
}


nav .mf-logo {
    height: 50px;
    margin: 0 10px 0 0;

}

nav .menu-container {
    display: flex;
    align-items: center;
    padding: 20px;

}

nav .nav-link {
    color: rgb(216, 218, 221);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 6px;
}

nav .nav-link:hover {
    background-color: rgb(57, 67, 83);
}

nav .hamburger-icon {
    display: none;
}

nav .hamburger-list-container .nav-link {
    display: block;
}

.hidden {
    display: none !important;
}

.socials {
    position: fixed;
    top: 35%;
    right: 0;
    background-color: rgb(255, 161, 177);
    width: 50px;
    padding: 10px 5px;
    border-radius: 20px 0 0 20px;
}

.socials img {
    width: 100%;
    padding: 1px 0;
}

.main-photo {
    width: 335px;
    border-radius: 50%;
    padding: 40px;
    margin-left: 10vw;
}

.main-section {
    display: flex;
    align-items: center;
    height: 100vh;
}

.introduction {
    width: 40vw;
    padding: 30px;
    border-left: 4px solid rgb(255, 255, 255);
}

.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 8px 8px 0;
    padding: 15px;
    display: inline-block;
    transform: rotate(45deg);
}


.bounce {
    padding: 50px 0 0 50px;
    animation: bounce 2s infinite;
}

.work-section {
    background-color: rgb(59, 62, 77);
    padding: 80px 50px;
}

.work-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-card:hover,
.work-card-1:hover {
    background-color: rgb(57, 67, 83);
    border: 2px solid rgb(255, 161, 177);
    box-shadow: 5px 5px 5px rgb(177, 111, 122);
}



.work-card-1 {
    width: 60%;
    background-color: rgb(29, 31, 38);
    margin: 10px;
    padding: 0 50px 50px 50px;
    border-top: 5px solid rgb(255, 161, 177);
    border-radius: 5px;
}

.work-card {
    width: 25%;
    background-color: rgb(29, 31, 38);
    margin: 10px;
    padding: 0 50px 50px 50px;
    border-top: 5px solid rgb(255, 161, 177);
    border-radius: 5px;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.quote-container {
    width: 30%;
    padding: 30px;
}

.about-container {
    width: 30%;
    padding: 80px 0;
}


.quote {
    font-size: 40px;
    font-style: italic;
}

.quote-container p {
    float: right;
}


@keyframes bounce {

    0%,
    25%,
    50%,
    75%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }
}


@media (max-width: 992px) {
    nav h3 {
        display: none;
    }
}

@media (max-width: 600px) {
    nav .hamburger-icon {
        display: block;
        background-color: transparent;
        border: none;
        color: rgb(255, 255, 255);
        font-size: 20px;
    }

    .menu-container .nav-link {
        display: none;
    }

    .socials {
        display: none;
    }


}

@media screen and (max-width: 1000px) {
    .main-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .introduction {
        width: 90vh;
        margin-top: -50px;
        border-left: none;
        text-align: center;
    }

    /*
    .bounce {
        padding: 50px 0 0 0;
    } */

    .arrow {
        margin-top: -100px;

    }

    .main-photo {
        margin-left: 0;
    }

    .work-card,
    .work-card-1 {
        width: 100%;
        margin-top: 80px;
    }

    .about-section {
        display: flex;
        flex-direction: column;

    }

    .about-container,
    .quote-container {
        padding: 100px 0;
        width: 80%;
    }
}